---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post: CollectionEntry<"posts">) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });

  return paths;
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post?.render();
---

<Layout title={post.data.title}>
  <main class="flex flex-col gap-5">
    <h1 class="font-bold text-5xl">{post.data.title}</h1>
    <Image class="rounded-lg" src={post.data.image} alt={post.data.title} />
    <div class="prose prose-2xl prose-h2:text-red-400 prose-h1:text-red-500">
      <Content />
    </div>
  </main>
</Layout>
