@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply transition-colors duration-100;
  }

  .clip {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
  }

  .mask {
    mask-image: linear-gradient(0deg, transparent, black);
  }

  .aspect-ratio {
    aspect-ratio: 1 / 1;
  }

  .light-pattern,
  .dark-pattern {
    mask-image: linear-gradient(0deg, transparent, black);
  }

  .center-container {
    @apply max-w-6xl w-[95%]
  }

  .separator {
    @apply h-[1px] border-slate-300 dark:border-slate-800;
  }

  .content-grid {
    @apply grid grid-cols-[1fr,min(50rem,100%),1fr] ms-auto me-auto grid-flow-row items-start content-start text-left;
  }


  .light-pattern {
    background-image: url('../images/circuit-board-light.svg');
  }

  .dark-pattern {
    background-image: url('../images/circuit-board-dark.svg');
  }

  .article-md {
    @apply prose prose-2xl prose-p:text-slate-600  dark:prose-p:text-slate-300;
    @apply prose-h2:text-slate-700 dark:prose-h2:text-slate-300 prose-h2:my-4;
  }
}