---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Sidebar from "../components/Sidebar.astro";
import Main from "../components/Main.astro";
---

<Layout title="Entropy">
  <header>
    <nav class="flex justify-end items-end flex-grow py-5">
      <div>Darkmode</div>
    </nav>
  </header>
  <main class="flex flex-col gap-5">
    <Hero />
    <section class="flex flex-col gap-10 md:flex-row">
      <Main />
      <Sidebar />
    </section>
  </main>
</Layout>
