---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Sidebar from "../components/Sidebar.astro";
import Main from "../components/Main.astro";
---

<Layout title="Entropy">
  <main class="flex flex-col gap-12">
    <Hero />
    <section class="flex flex-col gap-10 lg:flex-row">
      <Main />
      <Sidebar />
    </section>
  </main>
</Layout>
