---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span
  class="text-base border dark:border-slate-700 flex items-center justify-center px-4 py-2 rounded-md uppercase font-semibold"
>
  {category}
</span>
