---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span
  class="text-base
      border
      border-slate-300
      dark:border-slate-700
      text-slate-600
      dark:text-slate-400
      flex items-center
      justify-center
      px-4
      py-2
      rounded-md
      uppercase
      font-semibold"
>
  {category}
</span>
