---
import { Image } from "astro:assets";
import Anime from "../images/anime.jpg";
import Statuses from "./Statuses.astro";
import Description from "./Description.astro";
---

<section
  class="flex gap-2 md:gap-12 flex-col md:flex-row md:justify-between md:items-stretch mt-4"
>
  <Description />
  <div
    class="max-w-[300px] lg:max-w-[360px] h-min flex-shrink-1 my-5 md:my-0 relative overflow-hidden"
  >
    <Image
      src={Anime}
      alt="Gabriel's anime representation"
      class="rounded-lg flex-grow-0 h-full w-full aspect-ratio"
    />
    <!-- <Statuses /> -->
  </div>
</section>
