---
import Icons from "./Icons.astro";
import { Image } from "astro:assets";
---

<section
  class="flex gap-2 md:gap-12 flex-col lg:items-center md:flex-row md:justify-between md:items-stretch mt-10"
>
  <div class="flex flex-col gap-5">
    <h1 class="text-6xl font-bold text-slate-800 dark:text-slate-200">
      Hello, i'm Gabriel!
    </h1>
    <div class="flex flex-col gap-3 text-xl text-slate-600 dark:text-slate-400">
      <div>
        I love that i can code, that i'm able to whisper to the metal's cold
        heart and make it talk back
      </div>
      <div>
        I'm daily making React and Nest shake hands properly, recently also
        learning about system design so i can build some nice bridges
      </div>
      <div>
        I'm currently based in Brazil, where the only most satisfying thing than
        samba is crafting functional code
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <Icons />
    </div>
  </div>
  <div class="max-w-[300px] lg:max-w-[360px] h-min flex-shrink-1 my-5 md:my-0">
    <Image
      src="/images/anime.jpg"
      width={400}
      height={400}
      alt="Gabriel's anime representation"
      class="rounded-md flex-grow-0 h-full w-full aspect-ratio"
    />
  </div>
</section>
