---
import Icons from "./Icons.astro";
import { Image } from "astro:assets";
import Anime from "../images/anime.jpg";
import MyStatus from "./React/MyStatus";
---

<section
  class="flex gap-2 md:gap-12 flex-col md:flex-row md:justify-between md:items-stretch mt-10"
>
  <div class="flex flex-col gap-5 max-w-[44rem]">
    <h1
      class="text-4xl lg:text-6xl font-bold text-slate-800 dark:text-slate-200"
    >
      Hi, I'm Gabriel!
    </h1>
    <div
      class="flex flex-col gap-3 text-xl text-slate-600 dark:text-slate-400 leading-8"
    >
      <div>
        I love the art of coding, how it allows me to whisper to the metal's
        cold heart and make it sing along
      </div>
      <div>
        Daily i orchestrate symphonies between React and Nest, ensuring the
        web's melody flows seamlessly from end to end
      </div>
      <div>
        From Brazil, I've mastered the art of 'gambiarra' - finding creative
        solutions with limited resources - This ethos ignites my problem solving
        skills and creativity
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <Icons />
    </div>
  </div>
  <div
    class="max-w-[300px] lg:max-w-[360px] h-min flex-shrink-1 my-5 md:my-0 relative"
  >
    <Image
      src={Anime}
      alt="Gabriel's anime representation"
      class="rounded-md flex-grow-0 h-full w-full aspect-ratio"
    />
  </div>
</section>
