---
interface Props {
  book: any;
}

const { book } = Astro.props;

console.log(book);
---

<a
  href={`https://www.amazon.com/${book?.title?.split(" ").join("-")}/dp/${book.asin}`}
  class="rounded-md overflow-hidden"
  target="_blank"
>
  <img
    class="rounded-md w-full h-full aspect-[2/3] object-cover"
    src={book?.imageUrl}
    alt={`${book?.title} image`}
  />
</a>
