---
import { getCollection } from "astro:content";
import Blog from "./Blog.astro";
import Github from "./Github.astro";

const posts = await getCollection("posts");
---

<div class="flex flex-col flex-grow gap-4">
  <div class="text-lg font-medium flex gap-3 text-slate-800 dark:text-slate-200">
    <div>📰 {posts.length} Projects</div>
  </div>
  <div class="flex flex-col gap-5">
    <Blog posts={posts}/>
  </div>
  <Github />
</div>
