---
import { getCollection } from "astro:content";
import Blog from "./Blog.astro";
import Github from "./Github.astro";
import Kindle from "./Kindle.astro";
import Shows from "./Shows.astro";

const posts = await getCollection("posts");
---

<div class="flex flex-col flex-grow basis-1 gap-4">
  <div
    class="text-lg font-medium flex gap-3 text-slate-800 dark:text-slate-200"
  >
    <div>📰 {posts.length} Article{posts.length > 1 ? "s" : ""}</div>
  </div>
  <div class="flex flex-col gap-5">
    <Blog posts={posts} />
  </div>
  <div class="mb-5">
    <Github />
    <Kindle />
    <Shows />
  </div>
</div>
