---
import { GET } from "../pages/music";
import Track from "./Track.astro";

const { tracks } = await GET().then((response: any) => response?.json());
---

<div class="flex flex-col gap-3">
    <div class="text-lg font-medium text-slate-800 dark:text-slate-200">Liked Spotify Tracks</div>
    {tracks?.map((track: any) => <Track track={track} />)}
</div>