---
import moment from 'moment';

interface Props {
    track: any;
}

const { track: trackContainer } = Astro.props;

const { added_at: addedAt, track} = trackContainer;
---

<div>
    <div class="text-slate-400">{ moment(addedAt).fromNow() }</div>
    <div class="flex gap-4 items-center">
        <div class="w-[75px] rounded-md overflow-hidden">
            <img src={track?.album?.images?.[0]?.url} alt="track image" />
        </div>
        <div class="flex flex-col gap-1">
            <span class="text-lg text-slate-300">{track?.name}</span>
            <span class="text-sm text-slate-500">{track?.artists?.[0]?.name}</span>
        </div>
    </div>
</div>