---
import { ViewTransitions } from "astro:transitions";
import "../styles/base.css";
import {ThemeSelector} from "../components/React/ThemeSelector";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="flex justify-center h-[100vh] dark:bg-dark bg-light font-default">
    <div class="flex flex-col order-2 text-slate-700 dark:text-slate-200 max-w-[1300px] w-[95%]">
      <header>
        <nav class="flex justify-end items-end flex-grow py-5">
          <ThemeSelector client:load />
        </nav>
      </header>
      <slot />
    </div>
  </body>
</html>
